extends inc/layout.pug 

block title 
    title Inheritance 
block content 
    header 
        h1 INHERITANCE
    section 
        p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aliquid dolore animi maiores tempore ipsam quo sit hic eligendi cum? Accusantium!